<div class="back">
  <div class="container">
    <div class="div-title">
      <p class="title">Inscrivez-vous</p>
    </div>

    <form action="" class="form">
      <div>
        <label for="name" class="form-label">Nom</label>
        <input type="text" id="name" name="name" placeholder="Votre nom" class="form-input">
      </div>
      <div>
        <label for="firstname" class="form-label">Prénom</label>
        <input type="text" id="firstname" name="firstname" placeholder="Votre prénom" class="form-input">
      </div>
      <div>
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="email" placeholder="Votre email" class="form-input">
      </div>
      <div>
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" id="password" name="password" placeholder="Votre mot de passe" class="form-input">
      </div>
      <div>
        <label for="password2" class="form-label">Confirmez votre mot de passe</label>
        <input type="password" id="password2" name="password2" placeholder="Confirmez votre mot de passe" class="form-input">
      </div>
      <button type="submit" class="valid">Validé</button>
    </form>
  </div>
</div>
