<app-header></app-header>

<div class="container" *ngIf="article">
  <div class="row">
    <div class="image">
      <img src="{{ image?.url }}" alt="">
    </div>
    <div class="body">
      <div>
        <div class="title">
          <h6>{{ article.category?.name }}</h6>
          <h1>{{ article.name }}</h1>
          <div class="line"></div>
        </div>
        <div class="price">
          <h3>{{ article.price }} €</h3>
          <h5 *ngIf="article.stock !== 0 && article.stock !== 1">{{ article.stock }} bouteilles en stock</h5>
          <h5 *ngIf="article.stock === 1">{{ article.stock }} bouteille en stock</h5>
          <h5 *ngIf="article.stock === 0">Rupture de stock</h5>
        </div>
        <div>
          <h3>Taux d'alcool : {{ article.alcohol }}%</h3>
        </div>
      </div>
      <div class="cart">
        <input type="number" name="quantity" id="quantity" min="0" max="999">
        <span>Ajouter au panier</span>
      </div>
    </div>
  </div>
  <div class="description">
    <h3>Description</h3>
    <p>{{ article.description }}</p>
  </div>
  <div class="comments">
    <div class="title">
      <h2>Commentaires</h2>
    </div>
    <div class="add-comment">
      <form action="">
        <textarea name="new-comment" id="new-comment" class="add-comment"></textarea>
        <button type="submit">Ajouter un commentaire</button>
      </form>
    </div>
    <div class="display" *ngFor="let comment of article.comments">
      {{ comment.message }}
    </div>
  </div>
</div>

<app-footer></app-footer>
