<div class="back">

  <div class="container">
    <div class="div-title">
      <p class="title">Connectez-vous</p>
    </div>
    <form action="" class="form">
      <div>
        <p>Email</p>
        <input type="text" name="email" id="email">
      </div>
      <div class="div-password">
        <p>Mot de passe</p>
        <input type="password" name="password" id="password">
      </div>
      <div class="rememberAndLost">
        <div class="remember">
          <input type="checkbox" name="remember" id="remember">
          <label for="remember">Se souvenir de moi</label>
        </div>
        <a href="">Mot de passe oublié?</a>
      </div>
      <button type="submit">Se connecter</button>
    </form>
    <div class="dontHaveAccount">
      <p>Vous n'avez pas de compte?</p>
      <a href="">Créer un compte</a>
    </div>
  </div>

</div>
