<app-header></app-header>

<div class="container">
  <h1>Mon Panier</h1>
  <div class="article">
    <div class="list">
      <div class="image">
        <img src="https://picsum.photos/200/300" alt="image">
      </div>
      <div class="mid">
        <div class="top">
          <h2 class="title">Titre</h2>
          <div class="price">10€</div>
        </div>
        <div class="alcohol">Taux d'alcool : 35%</div>
      </div>
      <div class="delete">
        <span class="pi pi-times"></span>
      </div>
    </div>
  </div>
</div>


