@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.footer {
  background-color: white;
  width: 100%;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  color: #58355E;
  user-select: none;
  margin-top: 12vh;
}

.line{
  width: 80%;
  height: 1px;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px #58355E;
}

.social-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}


.div-social {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0.6em;
}

.icons-footer{
  align-items: center;
  justify-content: center;
  display: flex;
  border-bottom: solid 1px #58355E;
}

.creator {
  font-weight: 300;
  font-size: .8em;
}

.social {
  margin: 0.6em;
  font-size: 2em;
}

.social:hover {
  cursor: pointer;
  transform: scale(1.1);
}


