<app-header></app-header>
<app-navbar></app-navbar>
<!--<app-footer style="position: relative; margin-top: auto; width: 100%"></app-footer>-->

<div class="container">
  <div>
    <app-carousel-home></app-carousel-home>
  </div>
  <div class="container-red-wine">
    <div class="left-div">
      <div class="container-title">
        <label class="title">Vous aimez le</label>
        <label class="title">vin rouge ?</label>
      </div>
      <div>
        <p>
          Découvrez nos vins rouges et plongez dans l'univers fascinant de la viticulture. Avec notre sélection de vins
          rouges, vous pouvez explorer les saveurs riches et
          complexes de différentes régions viticoles, de la France à l'Italie en passant par l'Espagne et bien d'autres
          pays encore.
        </p>
      </div>
      <div class="div-button-wine">
        <button [routerLink]="['/category/1']" class="button-wine">Nos vins rouges</button>
      </div>
    </div>
    <div class="container-img">
      <img class="img-wine" src="./assets/grd_v6_1650641647_96556.jpg" alt="">
    </div>
    <div class="container-img">
      <img class="img-wine" src="./assets/vineyards_around_etna.jpg" alt="">
    </div>
  </div>

  <div class="container-white-wine">
    <div class="container-img2">
      <img class="img-wine" src="./assets/vignoble_sicile.jpg" alt="">
    </div>
    <div class="container-img2">
      <img class="img-wine" src="./assets/vin-blanc-1024x682.jpg" alt="">
    </div>
    <div class="left-div">
      <div class="container-title">
        <label class="title">Vous aimez le</label>
        <label class="title">vin blanc ?</label>
      </div>
      <div>
        <p>
          Découvrez nos vins blancs, des joyaux liquides qui illumineront vos papilles. Que vous préfériez les blancs
          fruités et légers, ou les vins plus complexes et riches en saveurs, nous avons de quoi satisfaire tous les
          palais. Nos raisins sont cultivés avec soin dans les meilleures parcelles de nos vignobles, et chaque
          bouteille est produite avec la plus grande attention aux détails.
        </p>
      </div>
      <div class="div-button-wine">
        <button [routerLink]="['/category/2']" class="button-wine">Nos vins blancs</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>


<!--<div class="card-wine">-->
<!--  <p-card *ngFor="let wine of articles">-->
<!--    <div>-->
<!--      <div>-->
<!--        {{ wine.name }}-->
<!--      </div>-->
<!--      <div>-->
<!--        <img class="img-wine" src="{{ wine.images?.url }}" alt="wine">-->
<!--      </div>-->
<!--    </div>-->
<!--  </p-card>-->
<!--</div>-->



