<app-header></app-header>
<app-navbar></app-navbar>

<div class="container">
  <h1>NégoSud c'est quoi ?</h1>
  <div class="column">
    <p>Négosud est un domaine viticole familial qui a été fondé il y a plus de 200 ans. Il est
      situé dans la région de Saint-Émilion, sur la rive droite de la Garonne, où le terroir argilo-calcaire est idéal
      pour la production de vins rouges de qualité supérieure.</p>
    <p>Le vignoble de Négosud s'étend sur environ 20 hectares de terres, dont la majeure partie est plantée en Merlot,
      le cépage dominant de la région. Le domaine produit également des vins à base de Daron.</p>
    <p>Le vignoble est géré de manière responsable et durable, en utilisant des pratiques de viticulture biologique pour
      minimiser les impacts sur l'environnement et produire des raisins de la plus haute qualité. Les vendanges sont
      réalisées manuellement pour assurer la sélection rigoureuse des raisins les plus mûrs et les plus sains.</p>
    <p>Les vins de Négosud sont élaborés avec soin et expertise, en utilisant des techniques traditionnelles de
      vinification, avec une attention particulière portée à la fermentation et à l'élevage en fûts de chêne français.
      Le résultat est un vin rouge élégant et équilibré, aux arômes de fruits rouges et noirs, avec des notes épicées et
      une finale longue et savoureuse.</p>
    <p>Le Négosud produit également un second vin, le Darons Prestige, ainsi qu'un vin blanc sec et fruité, élaboré à
      partir de Daronne.</p>
    <p>En somme, le vignoble de Négosud est un domaine viticole de renom dans la région de Saint-Émilion, produisant des
      vins rouges de qualité supérieure avec une attention méticuleuse portée à la qualité et à la durabilité.</p>
  </div>
</div>

<app-footer></app-footer>
